.userInfo {
    text-align: center;
    img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%
    }
    h3 {
        font-size: 0.35rem;
    }
  }

  //用户操作过提醒
  .text{
    padding: 20px;
    text-align: center;
    font-size: 0.6rem;
    color:#8d8282;
  }